@font-face {
  font-family: redHat;
  src: url(./assets/fonts/redHat.woff2) format(woff2);
}
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap");
$font-family: "Red Hat Text", serif;
$background-color: #fcf8f5;
$main-color: #c73b0d;
$text-color: hsl(14, 65%, 9%);
$name-color: hsl(12, 20%, 44%);
$cat-color: hsl(14, 25%, 72%);
